h1 { 
    background-color: darkred;
    border-radius: 30px 30px 30px 30px;
}
h3 { 
    background-color: black;
    border-radius: 30px 30px 30px 30px;
}
h1 {color: black;
text-shadow: 10px 10px 15px grey;}
h3 { color:white;
text-shadow: 10px 10px 15px grey;}
body{ background-image: linear-gradient(red, black); background-repeat: no-repeat; background-attachment: fixed;}
a:hover{ background-color: lightblue;color:blue;}